---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";

import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import FAQ from "@components/sections/FAQ.astro";
import heroImage from "@images/hero-image.avif";
import faqs from "@data/faqs.json";
import features from "@data/features.json";

import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
  <HeroSection
    title=`Welcome to One Heart Siu Lum Pai Hung Gar Arizona<span
        class="text-red-500 dark:text-red-400"> </span>`
    subTitle="A 1000 mile journey begins with a single step..."
    primaryBtn="Start Exploring"
    primaryBtnURL="/products"
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

  <FeaturesGeneral
    title="About Us"
    subTitle="Our school is dedicated to promoting the Lam Family Hung Gar Kung Fu style of traditional Chinese Martial Arts and to bring together a diverse group of people, regardless of race, religion, color, age or sex through hung gar training as well as knowledge of the history and culture from which the Art originated."
    src={featureImage}
    alt="ScrewFast products in floating boxes"
    features={features}
  />

  <FeaturesNavs
    title={`Experience the Transformative Power of <span class="text-yellow-500 dark:text-yellow-400">Kung Fu</span>`}
    tabs={[
      {
        heading: "Physical Benefits",
        content:
          "Kung Fu provides the ultimate exercise for all ages. Through proven training techniques and exercises, it increases flexibility, coordination, agility, speed, and stamina. Students experience noticeable improvement in strength and muscle development, leading to a toned and healthy body.",
        svg: "flexibility",
        src: construction,
        alt: "Students practicing Kung Fu exercises",
        first: true,
      },
      {
        heading: "Mental Benefits",
        content:
          "Kung Fu offers a healthy release for both physical and mental stress. As students progress through various levels and expand their abilities, they gain self-confidence and self-esteem. The concentration, discipline, and confidence acquired from Kung Fu training carry over into all aspects of life, fostering a general feeling of well-being.",
        svg: "mental",
        src: construction,
        alt: "A serene moment of meditation during Kung Fu practice",
        second: true,
      },
      {
        heading: "Self-Defense Skills",
        content:
          "Unlike other forms of exercise, martial arts provides the added benefit of self-defense. Kung Fu equips students with practical self-defense skills, empowering them to protect themselves effectively in various situations.",
        svg: "self-defense",
        src: construction,
        alt: "Instructor demonstrating self-defense techniques",
      },
    ]}
  />

  <TestimonialsSection
    title="Fast-Track Your Projects"
    subTitle="At ScrewFast, we ensure a swift start with instant account setup. Experience the speed of construction redefined."
    ;
    testimonials={[
      {
        content:
          "ScrewFast dramatically boosted our project efficiency. Setup was instant, and their rapid response times are phenomenal. Truly a game-changer in hardware and construction support!",
        author: "Samantha Ruiz",
        role: "Chief Operating Officer | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "70k+",
        description:
          "customers equipped — from DIY to major construction firms",
      },
      {
        count: "35%",
        description:
          "uptick in project efficiency with ScrewFast tools and services",
      },
      {
        count: "15.3%",
        description:
          "reduction in maintenance costs reported by long-term clients",
      },
      {
        count: "2x",
        description: "quicker assembly using innovative fastening solutions",
      },
    ]}
  />

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />
</MainLayout>
