---
import { Image } from "astro:assets";
import logoImage from "src/images/logo.png";
---

<div class="flex items-center space-x-4">
  <Image
    src={logoImage}
    alt="Logo"
    format="webp"
    width="300"
    height="150"

  />
</div>
